a:hover{
    text-decoration: none;
}
.section-title{
    padding-top: 3%;
    text-align: center;
}
.section-title h2{
    margin-bottom: 3%;
}
.personal{
    background-color: #f4bb99;
    padding-bottom: 3%;
}
@media (min-width: 992px) {
    .personal {
        height: 100vh;
    }
}

.personal .section-title{
    padding-top: 2% !important;
}
.personal .section-title h2{
    margin-bottom: 2%;
}
.personal h3{
    line-height: 2;
}
.personal .font-23{
    font-size: 40px;
    margin-left: 2%;
    color: #fff;
}
.personal .fa-facebook:hover{
    color: #0A80EC;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
}
.personal .fa-github:hover{
    color: #000;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
}
.personal .fa-codepen:hover{
    color: #000;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;

}
.personal .fa-whatsapp:hover{
    color: #48c857;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
}
.personal .social{
    padding-bottom: 3%;
}
.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #47b2e4;
    color: #fff;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background: rgba(55, 81, 126, 0.8);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link
{
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover {
    color: #47b2e4;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}
@media (min-width: 768px) {
#portfolio-flters{
    display: flex;
    justify-content: center;
    text-align: center;
}
}
@media (max-width:576px){
    .personal .h1{
        font-size: 25px;
    }
    .personal .section-title h2{
        font-size: 23px;
    }
    .personal h3{
        font-size: 23px;
    }
    .personal .study{
        font-size: 18px;
    }
}
.framework{
    height: 681px !important;
    width: 681.5px;
}